<html>
  <head>
      <title>D&D</title>
      <link rel="stylesheet" type="text/css" href='static/homepage/style.css'>
      <link href="https://fonts.googleapis.com/css?family=UnifrakturMaguntia" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
  </head>
  <body>
    <header id='welcome'>
      <h1> Welcome {{ request.user.username }}<h1>
    </header>
    <a href="{% url 'logout_user' %}">LOG OUT</a>
    <p id='create_character'>Create Character</p>
    <p id='create_campaign'>Create Campaign</p>
  </body>
</html>
